@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
button,
input,
select,
textarea {
  font-size: 1.6rem;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.grid-container {
  min-height: 100%;
  display: grid;
  grid-template-areas: "header""main""footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
}

header {
  grid-area: header;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #203040;
  color: #fff;

  a {
    color: #fff;
  }
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #203040;
  color: #fff;
}

a {
  text-decoration: none;

  &:hover {
    color: #ff8000;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

/* products */
.products {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;

  li {
    flex: 1 1 29rem;
    height: 47rem;
    padding: 1rem;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  img {
    max-width: 37rem;
    max-height: 37rem;
  }

  &-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      font-size: 2rem;
    }

    div,
    button {
      text-align: center;
      flex: 1;
    }
  }
}

.button {
  padding: 1rem;
  border: 0.1rem solid #c0c0c0;
  background-color: #f0f0f0;
  cursor: pointer;

  &:hover {
    border-color: #808080;
  }

  &.primary {
    background-color: #f0c040;
  }
}

/* filter */
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem solid #c0c0c0;

  div {
    flex: 1;
  }
}

/*index.css */
.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;

  &-header {
    border-bottom: 0.1rem solid #c0c0c0;
  }

  &-items {
    padding: 0;
    width: 100%;
    list-style-type: none;

    img {
      width: 5rem;
    }

    li {
      display: flex;

      div {
        padding: 0.5rem;

        &:last-child {
          flex: 1;
        }
      }
    }
  }
}

.right {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &>div {
    font-size: 2rem;
  }

  &>div,
  &>button {
    flex: 1;
  }
}

/* checkout form */
form {
  width: 100%;
}

.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;

  li {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
}

input {
  padding: 1rem;
  border: 0.1rem solid #c0c0c0;
}

/* product details */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;

  img {
    max-height: 100vh;
    max-width: 46rem;
    margin: 0 auto;
  }

  &-description {
    flex: 1 1;
    margin: 1rem;
  }
}

.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

/* order details */
.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      padding: 10px;
    }
  }

  .items {
    padding: 0;
    text-align: right;
  }
}

.success-message {
  color: green;
}